/* This file contains custom style overrides for the Wesnoth MP Database Dashboard. */


/* Top Level Container */
#top-level-container {
    background: linear-gradient(to right, #e7d9c0, rgba(231, 217, 192, 0) 5%), linear-gradient(to left, #e7d9c0, #f3ead8 5%)
}


/* Content Container */
#content-container {
    padding: 0 15px;
}


/* Title Container */
#title-container {
    background: linear-gradient(to right, #0f1421, #161e31, #0f1421);
    margin-bottom: 0px;
    padding: 10px;
    border-bottom: #b48648 1px solid;
    box-shadow: 0px 1px 4px 0px #000;
    margin-bottom: 20px;
}

h1 {
    color: #b48648;
    font-family: Montaga, Junicode, "Times New Roman", serif;
    margin-bottom: 0;
}


/* Date Range Picker */
.DateRangePicker_1 {
    margin-bottom: 20px;
}

#date-picker-container {
    display: flex;
    flex-direction: column;
}

#date-picker-label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #111;
}

.DateInput_input_1 {
    font-size: 16px;
}

/* Table */
#table button {
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: #fff;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 1.5;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

#table button:hover {
    background-color: #0b5ed7;
    border-color: #0b5ed7;
    color: #fff;
}

#table button:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
    outline: none;
}


/* Footer Section */
#footer-container {
    background: linear-gradient(to right, #0f1421, #161e31, #0f1421);
    margin-top: 40px;
    padding: 10px;
    border-top: #b48648 1px solid;
    box-shadow: 0px -1px 4px 0px #000;
    color: #b48648;
}

#plotly-dash-credit {
    font-size: 14p;
    margin-top: 10px;
    display: inline;
}

#plotly-dash-credit a {
    color: whitesmoke;
    text-decoration: none;
}

#plotly-dash-credit a:hover {
    text-decoration: underline;
}