/* Put any custom style overrides here */

.container {
    padding: 0 15px;
}

@media (min-width: 768px) {
    .container {
        padding: 0 1.5rem;
    }
}

@media (min-width: 992px) {
    .container {
        padding: 0 2rem;
    }
}

@media (min-width: 1200px) {
    .container {
        padding: 0 2.5rem;
    }
}
