/* Put any custom style overrides here */

/* Main Container */
.container {
    padding: 0 15px;
}

@media (min-width: 768px) {
    .container {
        padding: 0 1.5rem;
    }
}

@media (min-width: 992px) {
    .container {
        padding: 0 2rem;
    }
}

@media (min-width: 1200px) {
    .container {
        padding: 0 2.5rem;
    }
}

#title-container {
    background: linear-gradient(to right, #0f1421, #161e31, #0f1421);
    margin-bottom: 0px;
    padding: 0px;
    border-bottom: #b48648 1px solid;
    box-shadow: 0px 1px 4px 0px #000;
    margin-bottom: 20px;
}

h1 {
    color: #b48648;
    padding: 10px;
}

/* Date Range Picker */
.DateRangePicker_1 {
    margin-bottom: 20px;
}

#date-picker-container {
    display: flex;
    flex-direction: column;
}

#date-picker-label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #111;
}

.DateInput_input_1 {
    font-size: 16px;
}

/* The container of the figures */
@media (min-width: 992px) {
    .charts-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

@media (max-width: 991px) {
    .charts-container * {
        margin-bottom: 20px;
    }
}